@import 'tailwindcss';
@import '@jod/design-system/dist/main.css';
@import '@jod/design-system/lib/theme.css';

@config '../tailwind.config.ts';

ai-agent-float-container {
  z-index: 49 !important;
}
